<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body style="background-color: #666666;">



  <div class="limiter">
		<div class="container-login100">
			<div class="">
				<form class="login100-form validate-form" style="padding: 50px;">
					<span class="login100-form-title p-b-43" style="color: #ffd740;">
						ADD POST
					</span>


					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="Title">
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100">Title</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Author is required">
						<input class="input100" type="text" name="pass">
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100">Author</span>
          </div>
          
          <div class="form-label-group btn-group center">
				    <button class="button_custom_css" autofocus>Personality</button>
					<button class="button_custom_css">Private</button>
					<button class="button_custom_css">Organization</button>
                </div>
          
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<input class="input100" type="text" name="name">
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100">Name</span>
          </div>
          
          
					<div class="wrap-input100 validate-input" data-validate="Content is required">
						<input class="input100" type="text" name="content">
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100">Content</span>
          			</div>
					  <div class=" flex-c-m "style = "margin: 5px;">
							
						<i class="fas fa-smile button_custom_css tooltip"  style="width: 38px;" aria-hidden="true" ><span class="tooltiptext">Satisfy</span></i>
						
							<i class="far fa-angry button_custom_css tooltip"   style="width: 38px;" aria-hidden="true"><span class="tooltiptext">Not Satisfy</span></i>
							
							<i class="fas fa-laugh-beam button_custom_css tooltip" style="width: 38px;" aria-hidden="true"><span class="tooltiptext">Highly Satisfy</span></i>
							
					</div>

         

					<div class="container-login100-form-btn">
						<button class=" button_custom_css" style="width: 100%;">
							Add Post
						</button>
					</div>


					
				</form>

				<div class="login100-more" style="background-image: url('/assets/images/env.jpg');">
				</div>
			</div>
		</div>
	</div>







</body>
</html>
