<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>
<body style="background-color: #666666;">



  <div class="limiter">
		<div class="container-login100">
			<div class="">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						ADD POST
					</span>


					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="Title">
						<span class="focus-input100"></span>
						<span class="label-input100">Title</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Author is required">
						<input class="input100" type="text" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Author</span>
          </div>
          
          <!-- <div class="form-label-group btn-group center">
				    <button class="form-control">Personality</button>
					<button class="form-control">Private</button>
					<button class="form-control">Organization</button>
                </div> -->
          
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<input class="input100" type="text" name="name">
						<span class="focus-input100"></span>
						<span class="label-input100">Name</span>
          </div>
          
          
					<div class="wrap-input100 validate-input" data-validate="Content is required">
						<input class="input100" type="text" name="content">
						<span class="focus-input100"></span>
						<span class="label-input100">Content</span>
          </div>
         

         

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Add Post
						</button>
					</div>


					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('/assets/images/env.jpg');">
				</div>
			</div>
		</div>
	</div>







</body>
</html>
