<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
    <div class="container-fluid">
	<div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <form>
                <div class="form-label-group">
                  <input type="text" id="inputEmail" class="form-control" placeholder="Title"  >
                  <label for="inputEmail">Title</label>
                </div>
				
				<div class="form-label-group">
                  <input type="text" id="inputEmail" class="form-control" placeholder="Author"  >
                  <label for="inputEmail">Author</label>
                </div>
				
				<div class="form-label-group btn-group center">
				    <button class="form-control">Personality</button>
					<button class="form-control">Private</button>
					<button class="form-control">Organization</button>
	                <!--<label for="inputEmail">Personality</label>-->
                </div>
				
				<div class="form-label-group">
                  <input type="text" id="inputEmail" class="form-control" placeholder="Name"  >
                  <label for="inputEmail">Name</label>
                </div>
				
				<div class="form-label-group">
                  <input type="text" id="inputEmail" class="form-control" placeholder="Mood"  >
                  <label for="inputEmail">Mood 🙂😠☹</label>
                </div>
				
				<div class="form-label-group">
                  <textarea class="textinput form-control" id="inputEmail" placeholder="Content"></textarea> 
                </div>
                <div>
				 <button class="btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Post</button>
                </div>
               </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </body>
	