<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43 marginTopBottom" style="color: #ffd740;">
						Sign Up
					</span>


                    <div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="Name">
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100">Name</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100">Email</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100" >Password</span>
                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Confirm Password is required">
						<input class="input100" type="password" name="cPass" >
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100" >Confirm Password</span>
					</div>

					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="location">
						<span class="focus-input100" style="border: none !important;"></span>
						<span class="label-input100">Location</span>
					</div>



					<div class="container-login100-form-btn marginTopBottom"style="width: 100%;">
						<button class="button_custom_css" style="width: 100%;">
							Sign Up
						</button>
					</div>

				</form>
				

				<div class="login100-more" style="background-image: url('/assets/images/env.jpg');">
				</div>
			</div>
		</div>
	</div>







</body>
</html>
